{% extends "layout.html" %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
{% endblock %}


{% block body %}

<body style="overflow-y:scroll; background-color: rgb(151, 195, 226);">
    <header class='text-center' style="background-color: rgb(151, 195, 226);" style="width: 100%">
        <h1 class="display-2 py-4" style="color: #e4d9c0">Maintenance Software</h1>
    </header>
    <div style="width: 50%; margin-left: 25%; background-color: rgb(151, 195, 226);">
        <h1 style="text-align: center;">Tasks List</h1>
        <div class='col p-2' style="background-color: rgb(151, 195, 226);">
            <table>
                <tr>
                    <th style="width: 100px; text-align: center; border-right: 1px solid black;">ORD. Nº</th>
                    <th style="width: 35%; text-align: center; border-right: 1px solid black;">NAME</th>
                    <th style="width: 40%; text-align: center; border-right: 1px solid black;">DESCRIPTION</th>
                    <th style="width: 15%; text-align: center; ">EMPLOYER</th>
                </tr>
            </table>
            <hr>
            {% for t in tasks %}
            <table>
                <tr style="text-align: center;">
                    <th style="width: 100px; font-weight: 100;">
                        {{ t.orderNum }}</th>
                    <th style="width: 35%; font-weight: 100;">
                        {{ t.name }}</th>
                    <th style="width: 40%; font-weight: 100;">
                        {{ t.description }}</th>
                    <th style="width: 15%; font-weight: 100;">
                        {{ t.employer }}</th>
                </tr>
            </table>
            <hr>
            {% endfor %}
        </div>
    </div>
    <div class='col p-2'>
        <button class="btn m-1 w-100" id="signin-button" style="background-color: #FF5A20;"><a style="color:#e4d9c0"
                href="{% url 'index_Emp' %}">Back</a></button>
    </div>
    <div class="centered" style="background-color: rgb(151, 195, 226);">
        <img src="{% static 'img/maint.png' %}" alt="Maint" width="100%"
            style="max-width: 300px; margin: auto; margin-top: 3%; display: block;">
    </div>
    </div>
    
    {% if success_message %}
    <div class="alert-success">
        <strong>Success!</strong> {{ success_message }}
    </div>
    {% endif %}
    {% if fail_message %}
    <div class="alert-danger">
        <strong>Error!</strong> {{ fail_message }}
    </div>
    {% endif %}

</body>
{% endblock %}